<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Admin - EditStudent</title>
     {{>back_headerlink}}
  

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      {{>back_sidebar}}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

              {{>back_navbar}}



                  <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    {{!-- <h1 class="h3 mb-2 text-gray-800">Student</h1> --}}
                
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 mt-2 font-weight-bold text-primary">Edit Registred Student</h6>
                             <div class="float-right d-inline">
                            <a href="/admin/students">
                            <button type="button" class="btn btn-primary btn-sm mb-2"><i class="far fa-arrow-alt-circle-left"></i> Back</button></a>
                            </div>
                             <div class="float-center d-inline">
                           {{#if passIsmatch}}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Opps!</strong> {{passIsmatch}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {{/if}}
                    
                        </div>
                        </div>

                        <div class="card-body">
                            <form action="/admin/students/{{set._id}}" method="post">
                            <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="firstname"><b>First Name</b></label>
                                        <input type="text" name="firstname" value="{{set.firstname}}" class="form-control form-control-user"
                                            placeholder="Enter First Name">
                                    
                                      {{#if error.errors.firstname.message}}<p class="text-danger">{{error.errors.firstname.message}}</p> {{/if}}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="lastname"><b>Last Name</b></label>
                                        <input type="text" name="lastname" value="{{set.lastname}}" class="form-control form-control-user" 
                                            placeholder="Enter Last Name">
                                               {{#if error.errors.lastname.message}}<p class="text-danger">{{error.errors.lastname.message}}</p> {{/if}}
                                    </div>
                                </div>

                                 <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="email"><b>Email</b></label>
                                        <input type="text" name="email" value="{{set.email}}" class="form-control form-control-user" 
                                            placeholder="Enter Email">
                                               {{#if error.errors.email.message}}<p class="text-danger">{{error.errors.email.message}}</p> {{/if}}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="phone"><b>Phone</b></label>
                                        <input type="text" name="phone" value="{{set.phone}}" class="form-control form-control-user" 
                                            placeholder="Enter Phone Number">
                                               {{#if error.errors.phone.message}}<p class="text-danger">{{error.errors.phone.message}}</p> {{/if}}
                                    </div>
                                </div>

                                 <div class="form-group row" hidden>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="password"><b>Password</b></label>
                                       <input type="password" name="password" value="{{set.password}}" class="form-control form-control-user"
                                                placeholder="Enter Password">
                                                  {{#if error.errors.password.message}}<p class="text-danger">{{error.errors.password.message}}</p> {{/if}}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="confirmpassword"><b>Confirm Password</b></label>
                                       <input type="password" name="confirmpassword" value="{{set.confirmpassword}}" class="form-control form-control-user"
                                                placeholder="Enter Confirm Password">
                                                  {{#if error.errors.confirmpassword.message}}<p class="text-danger">{{error.errors.confirmpassword.message}}</p> {{/if}}
                                    </div>
                                </div>

    

                                   <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <label for="address"><b>Address</b></label>
                                       <input type="text" name="address" value="{{set.address}}" class="form-control form-control-user"
                                                 placeholder="Enter Address">
                                {{#if error.errors.address.message}}<p class="text-danger">{{error.errors.address.message}}</p> {{/if}}
                                    </div>
                                  
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                    <div class="form-group text-center">
                                    <input type="submit" name="submit" value="Update" class="btn btn-primary m-b-0"  />
                                    </div>
                                    </div>
                                    </div>
                                    </form>
                         
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

         {{>back_footer}}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


  {{>back_fotterlink}}

</body>

</html>